<!-- taxi_traffic/templates/index.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>

  <title>{{ config.SITE_NAME }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <form action="" method="post">
    {{ form.event.label }}<br/>
    {{ form.event }}<br/><br/>

    {{ form.submit }}<br/><br/>
  </form>

  {{ result }}
</body>
</html>